@import "bootstrap/dist/css/bootstrap";

body{
  background-color: lightgrey;
}

.navbar{
  background-color: black !important;
}

.nav-link{
  color: white !important;
}

.navbar-brand{
  font-size: 2rem;
}

#logo{
  float: left;
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: red !important;
}

.jumbotron{
  background-image: asset-url('jumbotronebg.jpeg');
  background-position: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 450px;
}

#sticky-footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}